repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: https://github.com/psf/black
    rev: 25.1.0
    hooks:
      - id: black
        exclude: ^tutorials/.*\.py$|^archive/.*\.py$
  - repo: https://github.com/kynan/nbstripout
    rev: 0.8.1
    hooks:
      - id: nbstripout
  - repo: https://github.com/econchick/interrogate
    rev: 1.7.0
    hooks:
      - id: interrogate
        args: [-c, pyproject.toml]
        exclude: ^talks/|^talks/.+|talks/.*$|^notebooks/.*\.py$|^docs/examples/.*\.py$|^docs/how-to/.*\.py$|^tutorials/.*\.py$|^archive/.*\.py$
  - repo: https://github.com/jsh9/pydoclint
    rev: 0.6.6
    hooks:
      - id: pydoclint
        args:
          - "--config=pyproject.toml"
        exclude: ^tutorials/.*\.py$|^archive/.*\.py$
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.11.10
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
        types_or: [python]
        exclude: ^notebooks/.*\.py$|^docs/how-to/.*\.py$|^tutorials/.*\.py$|^archive/.*\.py$
  - repo: https://github.com/ericmjl/webp-pre-commit
    rev: v0.0.9
    hooks:
      - id: convert-to-webp
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.46.0
    hooks:
      - id: markdownlint
        files: ^docs/.*\.md$
        exclude: ^docs/releases/.*\.md$
  - repo: local
    hooks:
      - id: pixi-install
        name: pixi-install
        entry: pixi install
        language: system
        always_run: true
        require_serial: true
        pass_filenames: false
