site_name: "llamabot"
site_url: https://ericmjl.github.io/llamabot

docs_dir: docs/

# For more configuration on the theme, see https://squidfunk.github.io/mkdocs-material/setup/changing-the-colors/
theme:
  name: material
  icon:
    logo: "fontawesome/solid/book"
  features:
    - instant
    - tabs
    - content.code.copy
  language: en

# We customize the navigation by hand to control the order
# in which pages show up.

nav:
  - Home: index.md
  - Getting Started:
    - getting-started/which-bot.md
  - How-To Guides:
    - how-to/cli-powered-by-llm.md
    - how-to/receipt-processing.md
    - how-to/data-analysis-agentbot.md
  - Tutorials:
    - tutorials/simplebot.md
    - tutorials/structuredbot.md
    - tutorials/toolbot.md
    - tutorials/agentbot.md
    - tutorials/querybot.md
    - tutorials/ollama.md
    - tutorials/prompts.md
    - tutorials/recording_prompts.md
    - Chat UI:
      - tutorials/chat-ui/simplebot-and-chatbot.md
      - tutorials/chat-ui/querybot.md
  - Reference:
    - Bots:
      - reference/bots/simplebot.md
      - reference/bots/structuredbot.md
      - reference/bots/toolbot.md
      - reference/bots/agentbot.md
      - reference/bots/querybot.md
      - reference/bots/imagebot.md
    - Components:
      - reference/components/messages.md
      - reference/components/tools.md
      - reference/components/docstore.md
      - reference/components/chat_memory.md
  - CLI:
    - cli/llamabot.md
    - cli/git.md
    - cli/doc.md
    - cli/docs.md
    - cli/repo.md
    - cli/blog.md
    - cli/notebook.md
    - cli/python.md
    - cli/log-viewer.md
    - cli/mcp.md
  - Design & Explanation:
    - design/unified_chat_memory.md
    - design/log_viewer.md
    - design/observability.md
    - design/agents-build-own-tools.md
  - Contributing:
    - contributing/setup.md

plugins:
  - search
  - mknotebooks:
      execute: false
      write_markdown: true
      allow_errors: false
      timeout: 1200
      binder: true
      binder_service_name: "gh"
      binder_branch: "master"
      binder_ui: "lab"

# Taken from here: https://squidfunk.github.io/mkdocs-material/extensions/codehilite/
markdown_extensions:
  - codehilite
  - admonition
  - pymdownx.superfences
  - markdown.extensions.attr_list

extra_css:
  - apidocs.css

extra_javascript:
  - config.js

repo_name: "ericmjl/llamabot"
repo_url: "https://github.com/ericmjl/llamabot"

extra:
  social:
    - icon: "fontawesome/brands/github"
      link: "https://github.com/ericmjl"

    - icon: "fontawesome/brands/twitter"
      link: "https://twitter.com/ericmjl"

    - icon: "fontawesome/brands/linkedin"
      link: "https://linkedin.com/in/ericmjl"
