# https://setuptools.pypa.io/en/latest/userguide/quickstart.html
[build-system]
requires = ["setuptools>=61.0", "wheel"]
build-backend = "setuptools.build_meta"

[tool.black]
line-length = 88
target-version = ['py310']
include = '\.pyi?$'
exclude = '''

(
  /(
      \.eggs         # exclude a few common directories in the
    | \.git          # root of the project
    | \.hg
    | \.mypy_cache
    | \.tox
    | \.venv
    | _build
    | buck-out
    | build
    | dist
  )/
  | foo.py           # also separately exclude a file named foo.py in
                     # the root of the project
)
'''

[tool.interrogate]
ignore-init-method = true
ignore-init-module = false
ignore-magic = false
ignore-semiprivate = false
ignore-private = false
ignore-property-decorators = false
ignore-module = false
fail-under = 100
exclude = ["setup.py", "docs", "build", "examples"]
ignore-regex = ["^get$", "^mock_.*", ".*BaseClass.*"]
verbose = 2
quiet = false
whitelist-regex = []
color = true

[tool.pytest.ini_options]
addopts = "-v --cov --cov-report term-missing"
testpaths = [
    "tests",
]

[tool.isort]
profile = "black"
float_to_top = true

[tool.setuptools]
include-package-data = true

[tool.setuptools.packages.find]
where = ["."]
namespaces = false

[project]
name = "llamabot"
version = "0.4.7"
dependencies = [
    "openai",
    "panel>=1.3.0",
    "jupyter_bokeh",
    "bokeh>=3.1.0",
    "loguru",
    "pyperclip",
    "astor>=0.8.1",
    "python-dotenv",
    "typer>=0.4.7",
    "gitpython",
    "pyprojroot",
    "frozenlist",
    "beautifulsoup4",
    "rich",
    "pyzotero",
    "case-converter",
    "prompt-toolkit",
    "sh",
    "pre-commit",
    "beartype==0.15.0",
    "litellm<=1.35.38", # temporary to enable continued usage of JSON mode, reported issue to BerriAI
    "python-slugify",
    "pydantic>=2.0",
    "pdfminer.six",
    "rank-bm25",
    "lancedb",
    "sentence-transformers",
    "chromadb",
    "tantivy",
    "numpy<2", # https://github.com/ericmjl/llamabot/issues/56
    "sentence-transformers",
]
requires-python = ">=3.11"
description = "A Pythonic interface to LLMs."
readme = "README.md"

[project.optional-dependencies]
tests = [
    "pytest",
    "hypothesis",
    "pytest-cov",
    "pytest-mock",
]
docs = [
    "mkdocs-material",
    "mkdocs",
    "mknotebooks",
]

all = [
    "llamabot[tests,docs]",
]

[project.scripts]
llamabot = "llamabot.cli:app"

[tool.pixi.project]
channels = ["conda-forge"]
platforms = ["osx-arm64"]

[tool.pixi.dependencies]
openai = "*"
panel = ">=1.3.0"
jupyter_bokeh = "*"
bokeh = ">=3.1.0"
loguru = "*"
pyperclip = "*"
astor = ">=0.8.1"
python-dotenv = "*"
typer = ">=0.4.7"
gitpython = "*"
pyprojroot = "*"
frozenlist = "*"
beautifulsoup4 = "*"
rich = "*"
pyzotero = "*"
prompt-toolkit = "*"
sh = "*"
pre-commit = "*"
beartype = "==0.15.0"
litellm = "<=1.35.38" # temporary to enable continued usage of JSON mode, reported issue to BerriAI
python-slugify = "*"
pydantic = ">=2.0"
pdfminer.six = "*"
lancedb = "*"
sentence-transformers = "*"
chromadb = "*"
numpy = "<2" # https://github.com/ericmjl/llamabot/issues/56

[tool.pixi.pypi-dependencies]
llamabot = { path = ".", editable = true }
case-converter = "*"
rank-bm25 = "*"
tantivy = "*"

[tool.pixi.environments]
default = { solve-group = "default" }
all = { features = ["all", "tests", "docs"], solve-group = "default" }
docs = { features = ["docs"], solve-group = "default" }
tests = { features = ["tests"], solve-group = "default" }

[tool.pixi.tasks]
test = "pytest"
docs = "mkdocs serve"
