# https://setuptools.pypa.io/en/latest/userguide/quickstart.html
[build-system]
requires = ["setuptools>=61.0", "wheel"]
build-backend = "setuptools.build_meta"

[tool.black]
line-length = 88
target-version = ['py39']
include = '\.pyi?$'
exclude = '''

(
  /(
      \.eggs         # exclude a few common directories in the
    | \.git          # root of the project
    | \.hg
    | \.mypy_cache
    | \.tox
    | \.venv
    | _build
    | buck-out
    | build
    | dist
  )/
  | foo.py           # also separately exclude a file named foo.py in
                     # the root of the project
)
'''

[tool.interrogate]
ignore-init-method = true
ignore-init-module = false
ignore-magic = false
ignore-semiprivate = false
ignore-private = false
ignore-property-decorators = false
ignore-module = false
fail-under = 100
exclude = ["setup.py", "docs", "build", "examples"]
ignore-regex = ["^get$", "^mock_.*", ".*BaseClass.*"]
verbose = 2
quiet = false
whitelist-regex = []
color = true

[tool.pytest.ini_options]
addopts = "-v --cov --cov-report term-missing"
testpaths = [
    "tests",
]

[tool.isort]
profile = "black"
float_to_top = true

[tool.setuptools]
include-package-data = true

[tool.setuptools.packages.find]
where = ["."]
namespaces = false

[project]
name = "llamabot"
version = "0.0.74"
dependencies = [
    "openai",
    "langchain",
    "llama_index",
    "panel>=1.1.0",
    "jupyter_bokeh",
    "bokeh>=3.1.0",
    "loguru",
    "pyperclip",
    "astor>=0.8.1",
    "python-dotenv",
    "typer>=0.4.0",
    "gitpython",
    "pyprojroot",
    "frozenlist",
    "beautifulsoup4",
    "rich",
    "pyzotero",
    "case-converter",
    "prompt-toolkit",
    "sh",
    "pre-commit",
    "beartype==0.15.0",
]
requires-python = ">3.10"
description = "A Pythonic interface to LLMs."
readme = "README.md"

[project.optional-dependencies]
tests = [
    "pytest",
    "hypothesis",
    "pytest-cov",
    "pytest-mock",
]
docs = [
    "mkdocs-material",
    "mkdocs",
]
prompts = [
    "outlines",
]

all = [
    "llamabot[tests,docs,prompts]",
]

[project.scripts]
llamabot = "llamabot.cli:app"
