# Run code style checks on each pull request.
name: Code style checks

on: [pull_request]

jobs:
  linting:
    env:
      # Configure a constant location for the uv cache
      UV_CACHE_DIR: /tmp/.uv-cache
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      # - uses: actions/setup-python@v2
      #   with:
      #     python-version: 3.11
      - name: Setup uv
        # Install latest uv version using the installer
        run: curl -LsSf https://astral.sh/uv/install.sh | sh

      - name: Setup Pixi Environment
        uses: prefix-dev/setup-pixi@v0.9.3
        with:
          pixi-version: latest
          cache: true
          cache-write: ${{ github.event_name == 'push' && github.ref_name == 'main' }}

      - name: Set up Python
        run: uv python install

      - uses: pre-commit/action@v3.0.1
