name: Build documentation

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main


jobs:
  build-docs:
    runs-on: ubuntu-latest
    name: Build documentation

    # https://github.com/marketplace/actions/setup-miniconda#use-a-default-shell
    defaults:
      run:
        shell: bash -l {0}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Setup Pixi Environment
        uses: prefix-dev/setup-pixi@v0.9.3
        with:
          pixi-version: latest
          cache: true
          cache-write: ${{ github.event_name == 'push' && github.ref_name == 'main' }}

      - name: Build docs
        run: pixi run build-docs

      - name: Deploy website
        if: github.ref_name == 'main'
        uses: peaceiris/actions-gh-pages@v4
        with:
          # https://github.com/peaceiris/actions-gh-pages#%EF%B8%8F-set-personal-access-token-personal_token
          personal_token: ${{ secrets.GHPAGES_DEPLOY_KEY }}
          publish_dir: ./site
          publish_branch: gh-pages
          allow_empty_commit: false
          keep_files: false
          force_orphan: true
          enable_jekyll: false

      - name: Deploy PR Preview
        if: github.event_name == 'pull_request' && github.event.pull_request.base.ref == 'main'
        uses: rossjrw/pr-preview-action@v1.6.2
        with:
          source-dir: ./site
          preview-branch: gh-pages
